<a class="dropdown-item {% if page.id == nav.id %} active {% endif %}" href="{{ nav.url }}">{{ nav.title }}
    {% if page.id == nav.id %}
        <span class="sr-only">(current)</span>
    {% endif %}
</a>