<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">

        <a class="navbar-brand ml-5 ml-md-0" href="{{ site.url }}/">
            <img src="{{ site.url }}/images/logo.png" height="50" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav ml-auto">

                <!-- This loops through the site navigation -->
                {% for nav in site.nav %}
                    {% include '_partials/_nav/_nav-item' %}
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>