<nav class="navbar navbar-expand-md navbar-light sticky-top flex-nowrap bg-light border-bottom gaius-navbar">

    <button class="btn btn-dark px-3 d-md-none" type="button" data-toggle="collapse" data-target="#gaius-sidebar" aria-controls="gaius-sidebar" aria-expanded="true" aria-label="Toggle sidebar">
        <span class="bi-layout-text-sidebar"></span>
    </button>

    <a class="navbar-brand m-0" href="{{ site.url }}/">
        <img src="{{ site.url }}/images/logo.png" height="50" />
    </a>

    <div id="gaius-navbar-content" class="collapse navbar-collapse">

        <div class="navbar-nav ml-auto">

            <!-- This loops through the site navigation -->
            {% for nav in site.nav %}
                {% include '_partials/_nav/_nav-item' %}
            {% endfor %}

        </div>
    </div>

</nav>