<div>
    <a class="d-block py-1" href="{{ nav.url }}">{{ nav.title }}
        {% if page.id == nav.id %}
            <span class="sr-only">(current)</span>
        {% endif %}
    </a>
<div>

{% if nav.children != nil %}
    <!-- This loops through the site navigation level 2-->
    {% for nav2 in nav.children %}
        {% include '_partials/_sidebar/_sidebar-item-2' %}
    {% endfor %}
{% endif %}
