<li class="nav-item">
    <a class="nav-link pt-1 pb-1 pr-2 pl-2" href="{{ nav3.url }}">{{ nav3.title }}
        {% if page.id == nav3.id %}
            <span class="sr-only">(current)</span>
        {% endif %}
    </a>
</li>