<div>
    <a class="d-block py-1" href="{{ sb.url }}">{{ sb.title }}
        {% if page.id == sb.id %}
            <span class="sr-only">(current)</span>
        {% endif %}
    </a>
<div>

{% if sb.children != nil %}
    <!-- This loops through the site sidbar level 2-->
    {% for sb2 in sb.children %}
        {% include '_partials/_sidebar/_sidebar-item-2' %}
    {% endfor %}
{% endif %}
