<!doctype html>
<html lang="en">

  {% include '_partials/_head' %}

  <body class="bg-white">

      {% include '_partials/_nav_header' %}
      {% include '_partials/_sidebar' %}

      <div class="container py-4 py-md-5">
        <main class="gaius-main {% if site.sidebar.size > 0 %}has-sidebar{% endif %}" role="main">

          <h3 class="mb-3">{{ page.title }}</h3>

          {% if page.image != nil %}
            <img src="{{ page.image }}" class="d-block rounded img-thumbnail float-left mb-1 mr-3" width="200" />
          {% endif %}

          <!-- Content here -->
          {{ page.content }}

        </main>
      </div>

      {% include '_partials/_footer' %}
      
  </body>
</html>