<!doctype html>
<html lang="en">

  {% include '_partials/_head' %}

  <body class="bg-white">

      {% include '_partials/_nav_header' %}
      {% include '_partials/_sidebar' %}

      <div class="container py-4 py-md-5">
        <main class="gaius-main {% if site.sidebar.size > 0 %}has-sidebar{% endif %}" role="main">

          <section class="mb-5">
            <h3 class="mb-3">{{ page.title }}</h3>
            <!-- Content here -->
            {{ page.content }}
          </section>

          <!-- This loops through the paginated posts -->
          {% for post in paginator.posts %}
            {% include '_partials/_post-teaser' %}
          {% endfor %}

          {% if paginator.previous_page != nil or paginator.next_page != nil %}
            {% include '_partials/_paging' %}
          {% endif %}

        </main>
      </div>

      {% include '_partials/_footer' %}
      
  </body>
</html>