<!doctype html>
<html lang="en">

  {% include '_head' %}

  <body class="bg-light">

    {% include '_nav' %}
    
    <div class="container pt-5 pb-5">

      <section class="mb-4">
        <h1 class="mb-4">{{ paginator.associated_tag.name }} Posts</h1>
        <!-- Content here -->
        {{ page.content }}
      </section>

      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
        {% include '_post-teaser' %}
      {% endfor %}

      {% if paginator.previous_page or paginator.next_page %}
        <nav aria-label="Tag listing navigation">
          <ul class="pagination justify-content-center">
            {% if paginator.previous_page %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
            {% endif %}
            {% if paginator.next_page %}
              <li class="page-item">
                <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}

    </div>

    {% include '_footer' %}

  </body>
</html>