#sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: margin-left 0.25s;
}

.sidebar-sublist {
    list-style: square;
}

#sidebar.toggled {
    margin-left: -300px;
}

#sidebar-collapsed-toggler {
    display: none !important;
    position: fixed;
    top: 1.0rem;
    left: .75rem;
    opacity: 0.75;
    z-index: 9999;
}

#sidebar.toggled #sidebar-collapsed-toggler {
    display: inline-block !important;
}

@media (max-width: 768px) {

    #sidebar {
        margin-left: -300px;
    }

    #sidebar.toggled {
        margin-left: 0;
    }

    #sidebar-collapsed-toggler {
        display: inline-block !important;
    }

    #sidebar.toggled #sidebar-collapsed-toggler {
        display: none !important;
    }
}