a {
    color: #343a40 !important;
    font-weight: 500;
}

.gaius-main a {
    font-weight: bold;
}

a:hover {
    color: #6610f2 !important;
    font-weight: bold !important;
}

.gaius-navbar {
    height: 4rem;
}

.gaius-sidebar {
    position: fixed;
    width: 16.5rem;
    top: 4rem;
    left: 0;
    bottom: 0;
    z-index: 1010;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .25s;
}

.gaius-sidebar.open {
    transform: translateX(0);
}

.gaius-sidebar .nav-link {
    border-left: 5px solid transparent;
}

.gaius-sidebar .nav-link.active {
    border-left: 5px solid #6610f2;
    color: #6610f2 !important;
    font-weight: bold !important;
}

.gaius-sidebar .nav-link.gaius-child-nav-link {
    border-left: 5px solid transparent;
    font-weight: 500 !important;
}

.gaius-sidebar .nav-link.gaius-child-nav-link.active {
    font-weight: bold !important;
}

.gaius-sidebar .nav-link.gaius-child-nav-link:hover {
    font-weight: bold !important;
}

.gaius-main {
    min-height: calc(100vh - 12.75rem);
}

@media (min-width: 768px) {
    .gaius-navbar {
        height: 5rem;
    }
    .gaius-sidebar {
        top: 5rem;
        transform: translateX(0);
    }
    .gaius-main {
        min-height: calc(100vh - 16.75rem);
    }
    .gaius-main.has-sidebar {
        padding-left: 16.5rem;
    }
    .gaius-footer {
        z-index: 1015;
    }
}

@media (min-width: 992px) {
    .gaius-sidebar {
        width: 20rem;
    }
    .gaius-main.has-sidebar {
        padding-left: 20rem;
    }
}